.panel.panel {
  position: absolute;
  z-index: 6;
  top: calc(120px + env(safe-area-inset-top));
  left: 12px;
  width: min(320px, calc(100% - 80px));
  max-height: 30%;
  overflow-y: auto;
  overscroll-behavior: contain;
  padding: 8px;
}

.panel .preset {
  min-height: 44px;
  padding: 2px;
}

@media (min-width: 1024px) {
  .panel.panel {
    top: 76px;
    left: 392px;
    max-height: calc(100% - 180px);
  }
}
